*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 70px;
    display: flex;
    align-items: center;

}

h1{
    font-size: 40px;
    color: #29B1DD;
}

.container{
    height: calc(100vh - 70px);
}

#selezione_container{
    height: 70px;
    background-color: #29B1DD;
    text-align: center;
    line-height: 70px;
}

span{
    color: white;
    font-size: 28px;
    margin-right: 10px;
    font-weight: 700;
}

#icone_container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: #DDDDDD;
}

.card{
    width: 200px;
    height: 200px;
    background-color: #F5F5F5;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  

}

.card i{
    font-size: 80px;
}

.name {
    font-size: 20px;
}

/* classi colore */
.orange{
    color: orange;
}

.green{
    color: green;
}

.blue{
   color: blue;
}

